body{
    margin: 10px;
    border: 2px solid black;
    box-shadow: 4px 5px grey;
    border-radius: 20px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 40px;
}
.head{
    justify-content: center;
    padding: 20px;
    text-align: center;
    align-items: center;
    display: flex;
    border-radius: 20px;
}
img{
    padding-right:20px;
    width: 70px;
    height: 70px;
}
h2{
    color:black;
    font-family: sans-serif;
}
hr{
    width: 90%;
    background-color: rgb(75, 34, 187);
    color: rgb(75,3,187);
    height: 2px;
}
h4{
    font-family: sans-serif;
    color:black;
}
.form{
    justify-content: center;
    display: flex;
    align-items: center;

}
input{
    border: 2px solid rgb(145, 145, 231);
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}
.email,.add{
    align-items: center;
    margin-left: 40px;
    margin-right: 40%;
    display: flex;
}
.add2{
    align-items: center;
    margin-left:20%;
}
.add3,.add4{
    margin-left: 20%;
    display: flex;
    align-items: center;
}
.work,.com,.web{
    align-items: center;
    display: flex;
    padding-left:10px;
}
.submit{
    text-align: center;
    margin-right: 5%;
    padding-bottom: 10px;
}
button{
    border:2px solid black;
    border-radius: 5px;
    background:linear-gradient(black,rgb(172, 172, 245));
    width: auto;
    height: 30px;
    color:white;
    align-items: center;
    text-align: center;
}